<div class="quizz-container">
  <div class="quizz-logo">
    <img src="../../../assets/img/logo.png" alt="Buzzfeed logo" title="Buzzfeed logo">
    <h1>Título</h1>
  </div>
  <div class="quizz-questions">
    <h3>Questão selecionada</h3>
  </div>
  <div class="quizz-options">
    <button class="quizz-btn-option">Opção</button>
    <button class="quizz-btn-option">Opção 2</button>
    <button class="quizz-btn-option">Opção 3</button>
  </div>
  <div class="quizz-results">
    <h2>Seu resultado é:</h2>
    <p>Resultado</p>
  </div>
</div>
